In [5]:
#creation of series
import pandas as pd
series1=pd.Series([10,20,30])
print(series1)

0    10
1    20
2    30
dtype: int64

In [17]:
#example has a numeric index in randome order
series2=pd.Series(["Bob","Jack","Top"],index=[3,5,1])
print(series2)

3     Bob
5    Jack
1     Top
dtype: object

In [23]:
#creation of seriers from numpy arrays
#series from a one direction(1d) Numpy array
import numpy as np
import pandas as pd
array1=np.array([1,2,3,4])
series3=pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int32

In [29]:
#we can use letters or string as index
series4=pd.Series(array1,index=["jan","feb","mar","apr"])
print(series4)

jan    1
feb    2
mar    3
apr    4
dtype: int32

In [33]:
dict={"India":"New Delhi", "UK":"London", "Japan":"Tokyo"}
print(dict)

{'India': 'New Delhi', 'UK': 'London', 'Japan': 'Tokyo'}

In [1]:
#data frame
#creation of data frame numpy and arrays
import pandas as pd
import numpy as np
array1=np.array([10,20,30])
dFrame4=pd.DataFrame(array1)
dFrame4

    0
0  10
1  20
2  30

In [9]:
#creation of dataframe from list od dictionaries
listDict=[{"a":10, "b":20},{"a":5, "b":10, "c":20}]
dFramelistDict=pd.DataFrame(listDict)
dFramelistDict

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [15]:
#creation of dataframe from series
seriesA=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
seriesB=pd.Series([1000,2000,-1000,-5000,1000],index=["a","b","c","d","e"])

dFrame6=pd.DataFrame(seriesA)
dFrame6

   0
a  1
b  2
c  3
d  4
e  5

In [19]:
dFrame7=pd.DataFrame([seriesA,seriesB])
dFrame7

      a     b     c     d     e
0     1     2     3     4     5
1  1000  2000 -1000 -5000  1000

In [27]:
#creation of dataframe from dictionary of series
import pandas as pd
ResultSheet={"Bob":pd.Series([90,91,97,],index=["Maths","Science","Hindi"]),
"Jack":pd.Series([92,81,96],index=["Maths","Science","Hindi"]),
"Ray":pd.Series([89,91,88],index=["Maths","Science","Hindi"]),
"Kai":pd.Series([90,88,94],index=["Maths","Science","Hindi"]),
"Top":pd.Series([99,87,98],index=["Maths","Science","Hindi"])}
ResultDF=pd.DataFrame(ResultSheet)
ResultDF

         Bob  Jack  Ray  Kai  Top
Maths     90    92   89   90   99
Science   91    81   91   88   87
Hindi     97    96   88   94   98